body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Mock background styling */
.background {
    background-image: linear-gradient(to bottom, dodgerblue, orange);
    height: 1500px;
}

/* Main Navbar styling */
.nav {
    display: flex;
    background-color: #3a3633;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Icon sizing and margin */
.icon {
    max-height: 50px;
    margin-left: 25px;
}

.desktop_menuitems {
    display: none;
}

.mobile {
    width: 100%;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 55px;
}

.mobile_menuitems {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #3a3633;
    top: 100%;
    width: 100%;
    text-align: center;
}

.mobile_menu  {
    color: #ffffff;
    text-decoration: none;
    margin: 5px;
}

.burger:hover > .mobile_menuitems {
    display: flex;
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {

    .nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .mobile {
        display: none;
    }

    .desktop_menuitems {
        display: flex;
    }

    /* Menu items styling */
    .desktop_menuitems > a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        height: 55px;
        width: 130px;
        transition: border 0.2s ease-in-out;
    }
    
    .desktop_menuitems > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        text-decoration: none;
        color: white;
        width: 130px;
        transition: border 0.2s ease-in-out;
    }
    
    /* Dropdown styling */
    .desktop_dropdown {
        display: none;
        position: absolute;
        background-color: #3a3633;
        text-decoration: none;
        top: 100%;
    }
    
    .desktop_dropdown a:hover {
        background-color: #5f5c5a;
    }

    /* Dropdown action */
    .desktop_dropdown a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 15px;
    }
    
    .desktop_menu:hover {
        border-bottom: solid #ffffff 5px;
    }

    /* Dropdown show on hover */
    .desktop_menu:hover > .desktop_dropdown {
        display: block;
    }
    
}    